@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    
}

body{
    width: 100%;
}

.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    background-color: #cbf9ff;
}

.navbar{
    font-family: 'Fredoka', sans-serif;
}

.item{
    font-family: 'Fredoka', sans-serif;
}

